* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
}
header {
    border-radius: 11px;
    margin-top: 1rem;
    padding:0.5rem;
}
#title {
    font-size: 5rem;
    color:#3fae48;
    font-weight: 800;
}
#h5 {
    font-weight: 500;
    color:seagreen;
}


footer {
    width: 100%;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    text-align: center;
    background-color: #3fae48;
    padding:1rem;
}
.contact-name {
    color:white;
    letter-spacing: 0.75px;
    font-weight: 700;
    opacity: 0.8;
}
.contact-number {
    color:lightgray;
    font-weight: 500;
    margin-top: 0.25rem;
}
footer a {
    color:white;
    opacity: 0.6;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.5px;
    transition: opacity 0.5s ease;
}
footer a:hover {
    opacity: 1;
}