

/******* HEADER *******/
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightgray; */
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 4rem;
    color: #3fae48;
    font-weight: 800;
}
.title #h5 {
    color: darkslategray;
    font-weight: 400;
}
.contactsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-name {
    color:gray;
    letter-spacing: 0.5px;
}
.contact-number {
    color: darkslategray;
    font-weight: 400;
}
#logViewLink{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #3fae48;
    color: white;
    border:1px solid #3fae48;
    padding:0.5rem;
    border-radius: 5px;
    box-shadow: -2px 2px 7px darkslategray;
}

/******* MAIN *******/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:1rem;
}

/******* CHECK IN *******/
#checkInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(245deg,seagreen,green, seagreen);
    width: 675px;
    padding:1.5rem;
    box-shadow: 0 5px 5px gray;
    border-radius: 12px;
    position: absolute;
    top: 12rem;
}
#checkIn-title {
    color: lightgreen;
    filter: drop-shadow(0 7px 3px darkgreen);
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}
#checkIn-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.25rem;
    border-radius: 5px;
}
#checkIn-name {
    width: 100%;
    height: 75px;
    padding:7px;
    font-size: 24px;
    outline: none;
    color: lightgreen;
    border: 2px solid #3fae48;
    background-color: transparent;
    border-radius: 5px;
}
#checkIn-name:focus {
    box-shadow: 0 5px 5px darkgreen;
    filter: drop-shadow(-3px 3px 5px darkgreen);
}
#checkIn-name::placeholder {
    color: #3fae48;
}
#checkIn-btn {
    width: 100%;
    height: 75px;
    border:none;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color:darkolivegreen;
    border-radius: 5px;
    display: none;
    box-shadow: 0 5px 5px darkgreen;
    filter: drop-shadow(-3px 3px 5px darkgreen);
    transition: background-color 0.5s ease;
}
#checkIn-btn:hover {
    background-color: #3fae48;
}
#error {
    position: absolute;
    left: 6.25rem;
    bottom: 0.25rem;
    color: white;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    display: none;
}

/******* CHECKLIST *******/
#checklistContainer {
    background-image: linear-gradient(360deg, silver,lightgray);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 0.5rem;
    width: 675px;
    position: absolute;
    top:2rem;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    color: white;
    text-transform: capitalize;
    background-image: linear-gradient(175deg, seagreen,darkgreen);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
#form {
    width: 100%;
    overflow-wrap: normal;
    overflow-y: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
#form::-webkit-scrollbar {
    display: none;
}
#checklist-form {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.checklist-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.checklist-item:nth-child(even) {
    background-color: white;
}
.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.item-row label {
    font-size: 24px;
    color: gray;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.row-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.row-actions .checkbox,.details-toggle-btn {
    width: 35px;
    height: 35px;
}
.row-actions .details-toggle-btn {
    font-size: 30px;
    background-color: transparent;
    border:none;
    color: gray;
}
.fa-angle-up {
    color: red;
}
.details-box {
    border:1px solid gray;
    background-color: whitesmoke;
    resize: none;
    padding: 5px;
    outline: none;
    color: gray;
    font-size: 14px;
    height:75px;
    border-radius: 3px;
    display: none;
}
#emailContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}
#emailContent label {
    font-size: 20px;
}
#emailContent input {
    width: 25px;
    height: 25px;
}
#emailContent label {
    color: darkslategray;
}
#checklist-btn {
    width: 100%;
    height: 100px;
    border:none;
    background-color: #3fae48;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 1rem;
    border-radius: 12px;
}


#error-container {
    width:350px;
    height: 150px;
    background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.9),darkslategray,rgb(156, 156, 156));
    position: absolute;
    top: 125px;
    left:165px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#error-content {
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0.8;
}
#buttons button {
    width:150px;
    height: 35px;
    margin-top: 1rem;
    border-radius: 3px;
    border:none;
    font-size: 17px;
    color: white;
    transition: transform 0.3s ease;
}
button#confirm {
    background-color: #3fae48;
}
button#cancel {
    background-color: red;
}
#buttons button:hover {
    transform: translateY(-3px);
}