main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
#checkInContainer {
    width:700px;
    height:11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    background-image:linear-gradient(11deg, #3fae48, seagreen);
    box-shadow: inset 0 0 11px black;
    border-radius: 17px;
    gap:0.5rem;
}
#error {
    color:white;
    opacity: 0.9;
    font-weight: 600;
    letter-spacing: 1px;
    width:65%;
    padding-left: 0.5rem;
}
#checkin {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px black;
    border-radius: 11px;
}
#nameInput {
    width:300px;
    height: 65px;
    padding: 7px;
    font-size: 22px;
    border:1px solid #ddd;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    outline: none;
    color:#157145;
    transition: width 0.5s ease;
}
#checkInBtn {
    width: 150px;
    height: 65px;
    border:none;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    background-color:#157145;
    color:white;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.3s ease, width 0.5s ease;
}
#checkInBtn:hover {
    background-color: #3fae48;
}

#checklistContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#messageContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:700px;
    padding:1rem;
    background-color: #3fae48;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    position: sticky;
}
#time, #dateDisplay {
    color:lightgray;
}
#checklist-title {
    color:white;
    opacity: 0.7;
    text-transform: capitalize;
}
#checklistForm {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    max-height: 450px;
    overflow-y: scroll;
}
#checklistForm::-webkit-scrollbar {
    display: none;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:0.5rem;
}
.item:first-of-type {
    margin-top: 2.5rem;
}
.item:nth-child(even){
    background-color: rgba(128, 128, 128, 0.137);
}
.item:nth-child(odd){
    background-color: rgba(211, 211, 211, 0.603);
}
.label-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.label-input label.strikethrough {
    color:red;
    text-decoration: line-through;
    transition: color 0.5s ease,text-decoration 0.5s ease;
}
.label-input label {
    font-size: 27px;
    font-weight: 500;
    color:#3fae48;
}
.user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.checkbox,.detailsBtn {
    width:35px;
    height:35px;
}
.detailsBtn {
    font-size: 20px;
    color:gray;
    background-color: transparent;
    border:none;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    opacity: 0.7;
}
.detailsBtn:hover {
    opacity: 1;
}
.detailsBox {
    width:100%;
    height:75px;
    margin-top: 0.25rem;
    border:1px solid #ddd;
    border-radius: 7px;
    resize: none;
    padding:5px;
    color:gray;
    outline: none;
    display: none;
}
#submitChecklistBtn {
    width:100%;
    border:none;
    background-color: #157145;
    font-size: 35px;
    padding:1rem;
    color:lightgray;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    transition: color 0.3s ease, background-color 0.5s ease;
}
#submitChecklistBtn:hover {
    background-color: #3fae48;
    color:white;
}
#sendFormContainer {
    display: flex;
    gap:0.25rem;
    margin-top: 1rem;
}
#sendFormContainer label {
    font-size: 1.25rem;
    color:gray;
}
#sendFormContainer input {
    width:25px;
    height:25px;
    border:none;
}