

/******* HEADER *******/
header {
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 4rem;
    color: #3fae48;
    font-weight: 800;
}
.title #h5 {
    color: darkslategray;
    font-weight: 400;
}
.contactsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-name {
    color:gray;
    letter-spacing: 0.5px;
}
.contact-number {
    color: darkslategray;
    font-weight: 400;
}
#logViewLink{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #3fae48;
    color: white;
    border:1px solid #3fae48;
    padding:0.5rem;
    border-radius: 5px;
    box-shadow: -2px 2px 7px darkslategray;
}

/******* MAIN *******/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:1rem;
}

/******* CHECK IN *******/
#checkInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(245deg,seagreen,green, seagreen);
    width: 600px;
    padding:1.5rem;
    box-shadow: 0 5px 5px gray;
    border-radius: 12px;
}
#checkIn-title {
    color: lightgreen;
    filter: drop-shadow(0 7px 3px darkgreen);
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}
#checkIn-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.25rem;
    border-radius: 5px;
}
#checkIn-name {
    width: 100%;
    height: 75px;
    padding:7px;
    font-size: 24px;
    outline: none;
    color: lightgreen;
    border: 2px solid #3fae48;
    background-color: transparent;
    border-radius: 5px;
}
#checkIn-name:focus {
    box-shadow: 0 5px 5px darkgreen;
    filter: drop-shadow(-3px 3px 5px darkgreen);
}
#checkIn-name::placeholder {
    color: #3fae48;
}
#checkIn-btn {
    width: 100%;
    height: 75px;
    border:none;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color:darkolivegreen;
    border-radius: 5px;
    display: none;
    box-shadow: 0 5px 5px darkgreen;
    filter: drop-shadow(-3px 3px 5px darkgreen);
    transition: background-color 0.5s ease;
}
#checkIn-btn:hover {
    background-color: #3fae48;
}
#error {
    position: absolute;
    left: 6.25rem;
    bottom: 0.25rem;
    color: white;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    display: none;
}

/******* CHECKLIST *******/
#checklistContainer {
    /* position: absolute; */
    /* width: 600px; */
    background-image: linear-gradient(360deg, silver,lightgray);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-3px 7px 5px darkgray);
    display: none;
    /* opacity: 0.1; */
    margin-top: 0.5rem;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    color: white;
    text-transform: capitalize;
    background-image: linear-gradient(175deg, seagreen,darkgreen);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
#form {
    height: 400px;
    overflow: scroll;
}
#form::-webkit-scrollbar {
    display: none;
}
#checklist-form {
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.5rem;
}
.checklist-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}
.item-row label {
    font-size: 24px;
    font-weight: 600;
    color: gray;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.row-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.row-actions .checkbox,.details-toggle-btn {
    width: 35px;
    height: 35px;
}
.row-actions .details-toggle-btn {
    font-size: 30px;
    background-color: transparent;
    border:none;
    color: gray;
}
.details-box {
    border:1px solid gray;
    background-color: whitesmoke;
    resize: none;
    padding: 5px;
    outline: none;
    color: gray;
    font-size: 14px;
    height:75px;
    border-radius: 3px;
    display: none;
    margin-bottom: 0.5rem;
}
#emailContent {
    display: flex;
    align-items: center;
    gap:0.5rem;
}
#emailContent input {
    width: 25px;
    height: 25px;
}
#emailContent label {
    color: darkslategray;
}
#checklist-btn {
    width: 100%;
    height: 75px;
    border:none;
    border-radius: 12px;
    background-color: #3fae48;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    box-shadow: -2px 3px 5px darkslategray;
    margin-top: 0.75rem;
}