* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',Arial,sans-serif;
}
body {
    /* background-color: #3fae48; */
    background-image:linear-gradient(to bottom left, white, #3fae48);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-top: 1rem;
    gap: 4.25rem;
}
#searchInput {
    width:300px;
    padding:0.5rem;
    height:45px;
    border:none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color:#3fae48;
    outline: none;
}
#actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 45px;
}
#actions-container a {
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 20px;
    color:#3fae48;
    display: flex;
    gap: 0.5rem;
    transition: color 0.3s ease;
}
#actions-container a:hover {
    color:green;
}
.fa-download {
    transition: color 0.3s ease;
}
#actions-container a:hover .fas{
    animation: hoverEffect 0.4s linear;
}
@keyframes hoverEffect {
    0%{transform: translateY(0)}
    50%{transform: translateY(-7px)}
    100%{transform: translateY(3px)}
}