* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',Arial,sans-serif;
    /* border:1px solid red; */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border-bottom: 5px solid #eceaea;
}
#title {
    font-size: 5rem;
    color:#3fae48;
    font-weight: 500;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset 0 0 11px rgb(187, 187, 187);
    padding:1rem;
    border-radius: 17px;
}
#h5 {
    font-weight: 800;
    background-color: #3fae48;
    color: white;
    padding-inline: 0.5rem;
    border-radius: 17px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
#contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #34883b;
    border-radius: 11px;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#CheckInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0 3px 7px gray;
    border-radius: 50px;
}
#CheckInContainer input {
    width:0;
    height:65px;
    padding:24px;
    border:none;
    background-color: transparent;
    font-size: 22px;
    color:#3fae48;
    outline: none;
    transition: filter 0.5s ease, width 0.5s ease;
}
#CheckInContainer button {
    height:65px;
    width:200px;
    border:none;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color:white;
    transition: opacity 0.5s ease;
    background-color: #3fae48;
    opacity: 0.8;
}
#CheckInContainer button:hover {
    opacity: 1;
}
#welcome-container {
    margin-top: 1rem;
    background-color: lightgray;
    color:darkgray;
    padding:1rem;
    width:500px;
    text-align: center;
    display: none;
}

#checklistContainer {
    background-color: lightgray;
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top: 3px solid white;
    display: none;
}
#checklistForm {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.checklist-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.checklist-item .item-row {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

.item-row label {
    font-size: 24px;
    color:gray;
    text-transform: capitalize;
    font-weight: 500;
    transition: color 0.5s ease;
}
.duo-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}
.duo-selection input {
    width:30px;
    height:30px;
}
.detailsButton {
    font-size: 24px;
    color:red;
    border:none;
    background: transparent;
    cursor: pointer;
    width:35px;
    height:35px;
}
.detailsBox {
    width:100%;
    height:75px;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border:none;
    resize: none;
    padding:11px;
    background-color: darkgray;
    outline: none;
    color: white;
    opacity: 0.5;
    border-radius: 5px;
    display: none;
}
.fa-pencil {
    color: #3fae48;
}
.fa-xmark {
    color:red;
}

#submitChecklistButton {
    width:100%;
    height:75px;
    font-size: 2rem;
    font-weight: 700;
    border:2px solid #ddd;
    border-radius: 7px;
    background-color: transparent;
    color:white;
    transition: background-color 0.5s ease;
}
#submitChecklistButton:hover{
    background-color: #3fae48;
    border:none;
}


footer {
    width:100%;
    position: fixed;
    bottom: 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3fae48;
    padding:1.5rem;
}
.contact {
    text-align:left;
}
.contact-name {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color:white;
}
.contact-number {
    color: blue;
    opacity: 0.7;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 800;
}