body {
    padding:1rem;
    background-image: linear-gradient(175deg, green,seagreen);
    background-repeat: no-repeat;
    min-height: 100vh;
}
main {
    min-width: 75%;
    height: 520px;
    overflow-y: scroll;
    border-radius: 17px;
}
main::-webkit-scrollbar {
    display: none;
}
#filter-container {
    padding-bottom: 1rem;
    display: flex;
}
#filterInput {
    width:300px;
    height: 50px;
    padding: 7px;
    font-size: 20px;
    color: gray;
    border:none;
    border-radius: 5px;
    outline: none;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
.links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}
.links a:hover {
    opacity: 1;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
table thead {
    background-color: darkgreen;
    position: sticky;
    top: 0;
    width: 100%;
}
table thead tr,th {
    padding:1rem;
    font-size: 24px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}
table tbody tr,td {
    padding:1rem;
    color:darkslategray;
    font-weight: 600;
}
table tbody tr:nth-child(even) {
    background-color: lightgray;
}
table tbody tr:nth-child(odd) {
    background-color: white;
}
.view-check {
    text-decoration: none;
    color: darkgreen;
    transition: color 0.3s ease;
}
.view-check:hover {
    color: green;
}