#table {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem;
}
#log-table {
    background-color: white;
    border-collapse: collapse;
    margin-top: -3rem;
}
#log-table thead {
    color:#3fae48;
    border-bottom: 5px solid #3fae48;
}
#log-table thead tr th {
    padding:2rem;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

#log-table-data tr:nth-child(even) {
    background-color: #dddddd;
}
#log-table-data tr td {
    text-align: center;
    padding:0.75rem;
    color: green;
    font-weight: 600;
    font-size: 20px;
    border:1px solid white;
}
#log-table-data tr td a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 0.25rem;
}
.view-checklist-link {
    color:dodgerblue;
}
.fa-arrow-up-right-from-square {
    font-size: 14px;
    color: blue;
}
.disabled-link {
    color:gray;
}